#box{
    height: 300px;
    width: 500px;
    margin: auto;
}
p{
    text-align: center;
}
button:hover{
    color: aquamarine;
}
html{
    margin: auto;
    text-align: center;
    align-self: center;
}